* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu .nav {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #85431e;
}

.bg-img {
    background-image: url(./bg-landing-page.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -5vh;
}

.bg-img h1 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 10px;
}

.bg-img button {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background: #F6BB99;
    border: hidden;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.map-img {
    height: 100vh;
    width: 100vw;
}

.slider {
    height: 100vh;
    background: linear-gradient(to left, rgba(44, 112, 4, 0.5), rgba(177, 122, 168, 0.5));
}

.slider-img {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 100vw;
}

.mySlides {display:none;}

.w3-display-left {
    position: absolute;
    top: 250%;
    left: 0%;
    transform: translate(0%, -50%);
}

.w3-display-right {
    position: absolute;
    top: 250%;
    right: 0%;
    transform: translate(0%, -50%);
}

.w3-button {
    border: none;
    padding: 8px 16px;
    color: white;
    background: black;
}

.food {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.food-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1f 1f 1f;
    grid-template-columns: 1f 1f 1f;
}

.gp1 {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.gp2 {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.gp3 {
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.gp4 {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.gp5 {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.gp6 {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.gp7 {
    grid-row: 1/2;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
}

.gp8 {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
}

.gp9 {
    grid-row: 3/4;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
}

.hotel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    height: 70vh;
    width: 20vw;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.hotel-header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-img {
    height: 100%;
    width: 100%;
}


.hotel-main-section {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hotel-main-section p {
    text-align: center;
}

.hotel-footer {
    height: 10%;
    width: 100%;
    background: rgb(255, 7, 110);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hotel-footer a i {
    color: black;
}

@media screen and (max-width: 550px) {
    .gp7, .gp8, .gp9 {
        display: none;
    }

    .hotel {
        height: 400vh;
        width: 100vw;
    }

    .card-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        height: 80vh;
        width: 80vw;  
    }
}