* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    height: 6vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    background: #a3f307;
}

.container {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu .nav {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: #85431e;
}

.nav-line {
    display: none;
}

.overlay {
    display: none;
}

.drop-down-navbar {
    display: none;
}  

.bg-img {
    background-image: url(./bg-landing-page.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-img h1 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.bg-img h3 {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.bg-img .helen {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
}

.intro {
    height: 100vh;
    width: 100vw;
    background-image: url(./bg-intro.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-card {
    height: 60vh;
    width: 20vw;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    backdrop-filter: blur(5px);
}

.intr-social-media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intr-social-media a i, .intr-social-media i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    background: #a3f307;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helen-intro {
    position: absolute;
    z-index: 1;
    top: 115vh;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid#a3f307;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.intro-card p {
    text-align: center;
    margin: 0 5px;
}

.map {
    height: 100vh;
    width: 100vw;
    background-image: url(bg-map.jpg);
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-card {
    height: 80vh;
    width: 50vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.location-card p {
    height: 50%;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-card p:hover {
    height: 100%;
}

.map-img {
    height: 50%;
    width: 100%;
}

.map-img:hover {
    height: 100%;
    width: 100%;
}

.slider {
    height: 100vh;
    background-image: url(bg-slider.jpg);
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-img {
    position: absolute;
    top: 550%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 100vw;
}

.mySlides {display:none;}

.w3-display-left {
    position: absolute;
    top: 550%;
    left: 0%;
    transform: translate(0%, -50%);
}

.w3-display-right {
    position: absolute;
    top: 550%;
    right: 0%;
    transform: translate(0%, -50%);
}

.w3-button {
    border: none;
    padding: 8px 16px;
    color: white;
    background: black;
}

.food {
    height: 100vh;
    background-image: url(bg-food.jpg);
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.food-container {
    height: 90%;
    width: 80%;
    display: grid;
    grid-template-rows: 1f 1f 1f;
    grid-template-columns: 1f 1f 1f;
    grid-gap: 20px;
}

.gp1 {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.gp2 {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.gp3 {
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.gp4 {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.gp5 {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.gp6 {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.gp7 {
    grid-row: 1/2;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
}

.gp8 {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
}

.gp9 {
    grid-row: 3/4;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
}

.hotel {
    height: 100vh;
    background-image: url(bg-hotel.jpg);
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    height: 70vh;
    width: 20vw;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.hotel-header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-img {
    height: 100%;
    width: 100%;
}


.hotel-main-section {
    height: 50%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hotel-main-section p {
    text-align: center;
}

.hotel-footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#card-footer-color1 {
    background: #05f9e2;
}

#card-footer-color2 {
    background: #e2f705;
}

#card-footer-color3 {
    background: #f50b86;
}

#card-footer-color4 {
    background: #ff6f00;
}

.hotel-footer a i {
    color: black;
}

.title {
    height: 100vh;
    /* Center and scale the image nicely */
    font-size: 40px;
    background: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a {
    font-size: 40px;
    font-weight: 600;
    color: black;
    background: #a3f307;
    padding: 5px 20px;
}

#bg-hotel {
    background-image: url(hotel1.jpg);
}

#bg-food {
    background-image: url(hotel2.jpg);
}

#bg-place {
    background-image: url(hotel3.jpg);
}

#bg-location {
    background-image: url(hotel4.jpg);
}

@media screen and (max-width: 550px) {
    .navbar-menu {
        display: none;
    }

    .nav-line {
        display: block;
        margin-right: 20px;
    }

    .overlay {
        display: block;
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
      
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #777;
        display: block;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #fff;
    }
      
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
      
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

    .intro-card {
        height: 60vh;
        width: 80vw;
    }

    .location-card {
        height: 90vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .location-card p {
        height: 70%;
    }

    .map-img {
        height: 30%;
        width: 100%;
    }

    .food-container {
        height: 100%;
        width: 100%;
        grid-gap: 0px;
    }

    .gp7, .gp8, .gp9 {
        display: none;
    }

    .hotel {
        height: 400vh;
        width: 100vw;
    }

    .card-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        height: 80vh;
        width: 80vw;  
    }
}